@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: rgb(222, 141, 168);
}
nav{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-height: 25vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav *{
    transition: all 1s ease 1ms;
}
nav *:hover{
    transform: translateY(-5px) scale(1.1);
    color: rgb(197, 44, 95);
}
.logo{
    width: 14vh;
    height: 12vh;
    display: inline-block;
}
a{
    padding: 0 5px;
    text-decoration: none;
    color: black;
}
footer{
    display: inline-block;
    width: 100vw;
    height: 15vh;
    padding: 2% 1%;
    background-color: white;
}
footer a{
    width: 3px;
    height: 3px;
    padding: 0 5px;
    position: relative;
}
.container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100vw;
    margin: 5% 0;
    gap: 10%
}
article{
    display: inline-block;
    min-width: 15vw;
    min-height: 50vh;
    margin: 5px 0;
    background-color: rgb(197, 44, 95);
    text-align: center;
    border-radius: 30px;
    position: relative;
}
.cover{
    display: inline-block;
    min-width: 12vw;
    height: 40vh;
    padding: 10%;
    border-radius: 30px;
    text-align: center;
    transition: all 1s ease-in-out 1ms;
}
article p{
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 7px;
}
a{
    transition: all 1s ease-out 1ms;
}
article:hover a{
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    color: rgb(197, 44, 95);
}
article:hover .cover{
    transform: scale(1.1);
}